<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgencijaServlet</servlet-name>
        <servlet-class>servleti.AgencijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeKorisnika</servlet-name>
        <servlet-class>servleti.BrisanjeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeRezervacijeKorisnik</servlet-name>
        <servlet-class>servleti.BrisanjeRezervacijaKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeRezervacije</servlet-name>
        <servlet-class>servleti.BrisanjeRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajUsluguForma</servlet-name>
        <servlet-class>servleti.DodajUsluguForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaAgencijaForma</servlet-name>
        <servlet-class>servleti.IzmenaAgencijaForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaUsluga</servlet-name>
        <servlet-class>servleti.IzmenaUsluga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaUslugaForma</servlet-name>
        <servlet-class>servleti.IzmenaUslugaForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniAgenciju</servlet-name>
        <servlet-class>servleti.IzmeniAgenciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korpa</servlet-name>
        <servlet-class>servleti.Korpa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servleti.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>servleti.Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledAgencija</servlet-name>
        <servlet-class>servleti.PregledAgencija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledKorisnika</servlet-name>
        <servlet-class>servleti.PregledKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledRezervacijeZaposleni</servlet-name>
        <servlet-class>servleti.PregledRezervacijeZaposleni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledRezervacijeKorisnik</servlet-name>
        <servlet-class>servleti.PregledRezervacijeKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledUsluga</servlet-name>
        <servlet-class>servleti.PregledUsluga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervacijaServlet</servlet-name>
        <servlet-class>servleti.RezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usluge</servlet-name>
        <servlet-class>servleti.Usluge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UslugeServlet</servlet-name>
        <servlet-class>servleti.UslugeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisanjeUsluga</servlet-name>
        <servlet-class>servleti.BrisanjeUsluga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgencijaServlet</servlet-name>
        <url-pattern>/AgencijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeKorisnika</servlet-name>
        <url-pattern>/BrisanjeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeRezervacijeKorisnik</servlet-name>
        <url-pattern>/BrisanjeRezervacijeKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeRezervacije</servlet-name>
        <url-pattern>/BrisanjeRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajUsluguForma</servlet-name>
        <url-pattern>/DodajUsluguForma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaAgencijaForma</servlet-name>
        <url-pattern>/IzmenaAgencijaForma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaUsluga</servlet-name>
        <url-pattern>/IzmenaUsluga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaUslugaForma</servlet-name>
        <url-pattern>/IzmenaUslugaForma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniAgenciju</servlet-name>
        <url-pattern>/IzmeniAgenciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Korpa</servlet-name>
        <url-pattern>/Korpa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledAgencija</servlet-name>
        <url-pattern>/PregledAgencija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledKorisnika</servlet-name>
        <url-pattern>/PregledKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledRezervacijeZaposleni</servlet-name>
        <url-pattern>/PregledRezervacijeZaposleni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledRezervacijeKorisnik</servlet-name>
        <url-pattern>/PregledRezervacijeKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledUsluga</servlet-name>
        <url-pattern>/PregledUsluga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervacijaServlet</servlet-name>
        <url-pattern>/RezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usluge</servlet-name>
        <url-pattern>/Usluge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UslugeServlet</servlet-name>
        <url-pattern>/UslugeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisanjeUsluga</servlet-name>
        <url-pattern>/BrisanjeUsluga</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
